<h1>Products</h1>
<a href="/products/new">Add New Product</a>
<ul>
    <% products.forEach(product => { %>
        <li>
            <%= product.name %> - $
                <%= product.price %> -
                    <%= product.category.name %>
                        <br>
                        <% product.images.forEach(image => { %>
                            <img src="/uploads/<%= image %>" alt="<%= product.name %>" width="100">
                            <% }) %>
                                <a href="/products/<%= product._id %>/edit">Edit</a>
                                <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
        </li>
        <% }) %>
</ul>